

@themeColor1:  #439aff;
@themeColor2:  #1bbae1;


/*
* element-ui组件样式部分   
*/
/* 弹框style*/
body .el-dialog {
    min-height: 400px;
    .el-dialog__header {
        text-align: left;
        height: 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        // border-bottom: 1px solid rgba(229, 235, 236, 1);
        .el-dialog__title {
            color: #394263;
            font-weight: bold;
            font-size: 16px;
        }
        .el-dialog__headerbtn {
            position: static;
        }
    }
    .el-dialog__body{
        padding: 15px 35px 55px;
    }
    .el-dialog__body:last-child {
        padding: 35px;
    }
    .el-dialog__footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 25px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
    }
    &.is-fullscreen {
        .el-dialog__header {
            padding: 15px;
        }
        .el-dialog__body {
            overflow: auto;
        }
        .el-dialog__footer {
            display: none;
        }
    }
    .el-form-item.fill {
        .el-select {
            display: block;
        }
        .el-input {
            width: 100% !important;
            .el-input__inner {
                width: 100% !important;
            }
        }
    }
    .el-form-item.block {
        display: block;
    }
    .el-form-item.inline {
        display: inline-block;
        margin-right: 25px;
    }
    .el-form-item__error {
        min-width: auto !important;
    }
    .el-table {
        .el-table__body-wrapper,
        .el-table__empty-block {
            min-height: 250px;
        }
    }
}
/* */
body .insideView ~ .el-dialog__wrapper.height_auto .el-dialog {
    min-height: 250px;
}

/* 确认弹框style*/
body .el-message-box__wrapper {
    .el-message-box__header {
        border-bottom: 1px solid rgba(229, 235, 236, 1);
    }
    .el-message-box__content {
        padding: 35px 15px 35px 50px;
    }
}

/* 表格样式 */
body .cloud-container .el-table {
    padding: 0 15px 10px;
    &::before {
        display: none;
    }
    thead {
        &.is-group th {
            background-color: #fff;
        }
        .cell {
            color: #1E1A38;
            font-weight: bold;
        }
    }
    tbody {
        .cell {
            font-size: 13px;
        }
        .el-button {
            padding: 0;
            line-height: 20px;
            border-width: 0;
            background: transparent;
            i {
                font-size: 18px;
            }
            &:hover {
                background: transparent;
            }
        }
        .el-table__row .danger {
            color: #f0433c;
        }
        .el-table__row .info {
            color: #999;
        }
        .el-table__row .iconshanchu.del {
            color: #f0433c;
        }
        .el-table__row .iconbianji {
            color:#409eff;
        }
    }
}

// 首页表格样式
#app:not(.insideView) .el-table{
    .el-table__body-wrapper,
    .el-table__empty-block {
        min-height: 500px;
    }
    .el-table__header-wrapper.fixed {
        position: fixed;
        top: 60px;
        width: 1300px;
        left: 0;
        z-index: 99;
        padding-left: 15px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background: rgba(75,75,75,.85);
        & + .el-table__body-wrapper {
            margin-top: 38px;
        }
        th {
            padding: 2px 0;
            background: rgba(75,75,75,.85);
            border: none;
            .cell {
                color: #eee;
            }
        }
    }
}


/* 日期选择器样式*/
body .el-range-editor.el-input__inner {
    line-height: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    .el-input__icon,
    .el-range-separator {
        line-height: 24px;
        width: 20px;
    }
}


/* 按钮样式*/
body {
    .insideView .el-button {
        .icon {
            font-size: 14px;
        }
    }
    .el-button {
        padding: 0 15px;
        line-height: 32px;
        border-radius: 2px;
        border-color: transparent;
        border-width: 0;
        &.el-button--primary {
            background-color: @themeColor1;
            &:hover {
                background-color: #1d85ff;
                color: #ffffff;
            }
        }
        &.el-button--default {
            border-color: #DCDFE6;
            border-width: 1px;
            line-height: 30px;
            &:active {
                border-width: 1px;
            }
        }
        span {
            vertical-align: bottom;
        }
        &.el-button--default.el-button--primary {
            color: #fff !important;
        }
        .icon {
            font-size: 20px;
            vertical-align: middle;
            margin-right: 6px;
        }
    }
} 

/* 输入框样式*/
body .el-input {
    height: 32px;
    line-height: 32px;
    &.el-input--suffix {
        height: auto;
        min-height: 32px;
    }
    .el-input__inner {
        height: 32px;
        line-height: 32px;
    }
    .el-input__icon {
        line-height: 32px;
    }
}


body .el-form {
    .el-form-item__content {
        // display: inline-block;
        line-height: 32px;
        vertical-align: middle;
    }
    .el-form-item__label {
        line-height: 32px;
    }
}

/*下拉框样式*/
body .el-select {
    .el-input__suffix {
        display: flex;
        align-items: center;
    }
}

/*消息提示框*/
body .el-message {
    z-index: 99999 !important;
}

/* 内页样式 */
body {
    .insideView {
        .el-button--primary {
            background-color: @themeColor2;
            &:hover {
                background-color: #14aed4;
            }
        }
        .el-button--default:active {
            color: @themeColor2;
        }
        .el-table__row .iconbianji{
            color: @themeColor2 !important;
        }
        .el-tabs__item.is-active,
        .el-button--text,
        .el-button--default:hover,
        .el-loading-spinner .el-loading-text,
        .el-checkbox__input.is-checked+.el-checkbox__label,
        .el-radio__input.is-checked+.el-radio__label {
            color: @themeColor2;
        }
        .el-loading-spinner .path {
            stroke: @themeColor2;
        }
        .el-input__inner:focus,
        .el-range-editor.is-active,
        .el-range-editor.is-active:hover,
        .el-select .el-input.is-focus .el-input__inner,
        .el-radio__inner:hover,
        .el-checkbox__inner:hover,
        .el-textarea__inner:focus  {
            border-color: @themeColor2;
        }
        .el-checkbox__input.is-checked .el-checkbox__inner,
        .el-checkbox__input.is-indeterminate .el-checkbox__inner,
        .el-radio__input.is-checked .el-radio__inner {
            border-color: @themeColor2;
            background-color: @themeColor2;
        }
    }
    .insideView ~ .el-popper,
    .insideView ~ .el-dialog__wrapper,
    .insideView ~ .el-message-box__wrapper {
        .el-button--primary,
        .el-date-table td.end-date span,
        .el-date-table td.start-date span,
        .el-date-table td.current:not(.disabled) span,
        .cloud-pagination .el-pagination .el-pager li.active,
        .cloud-pagination .el-pagination .el-pager li:hover,
        .cloud-pagination .el-pagination .btn-prev:hover,
        .cloud-pagination .el-pagination .btn-next:hover {
            background-color: @themeColor2;
        }
        .el-loading-spinner .path {
            stroke: @themeColor2;
        }
        .el-button--default:hover {
            color: #14aed4;
        }
        .el-button--default.el-button--primary:hover {
            color: #fff;
            background-color: #14aed4;
        }
        .el-button--default:focus,
        .el-loading-spinner .el-loading-text,
        .el-select-dropdown__item.selected,
        .el-radio__input.is-checked+.el-radio__label,
        .el-dialog__headerbtn:focus .el-dialog__close,
        .el-dropdown-menu__item:focus,
        .el-dropdown-menu__item:not(.is-disabled):hover,
        .el-date-table td.today span,
        .el-date-table td.available:hover,
        .el-date-picker__header-label.active,
        .el-checkbox__input.is-checked+.el-checkbox__label,
        .el-date-picker__header-label:hover,
        .el-year-table td .cell:hover,
        .el-year-table td.current:not(.disabled) .cell,
        .el-month-table td .cell:hover,
        .cloud-pagination .el-pagination .btn-prev,
        .cloud-pagination .el-pagination .btn-next,
        .el-radio__input.is-checked+.el-radio__label {
            color: @themeColor2;
        }
        .el-date-table td.today.end-date span,
        .el-date-table td.today.start-date span {
            color: #fff;
        }


        .el-checkbox__input.is-checked:not(.is-disabled) .el-checkbox__inner,
        .el-checkbox__input.is-indeterminate .el-checkbox__inner,
        .el-radio__input.is-checked .el-radio__inner,
        .el-radio__input.is-checked .el-radio__inner {
            border-color: @themeColor2;
            background-color: @themeColor2;
        }
        .el-input.is-active .el-input__inner,
        .el-input__inner:focus,
        .el-select .el-input.is-focus .el-input__inner,
        .el-textarea__inner:focus,
        .el-radio__inner:hover,
        .el-checkbox__inner:hover,
        .el-pagination__sizes .el-input .el-input__inner:hover,
        .el-range-editor.is-active,
        .el-range-editor.is-active:hover,
        .el-textarea__inner:focus {
            border-color: @themeColor2;
        }
        .el-radio__input.is-disabled.is-checked .el-radio__inner::after {
            background-color: #fff;
        }
    }
}

/*scrollbar滚动轴修改*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(155, 155, 155, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    height: 9px;
    width: 8px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(155, 155, 155, 0.3);
    background-color: rgba(0, 0, 0, 0.4);
}

/* 顶部标题*/
#insideContainer {
    .component_head {
        height: 60px;
        line-height: 60px;
        background-color: #fff;
        color: #333;
        font-size: 20px;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #e8e8e8;
        position: fixed;
        top: 60px;
        padding: 0 20px 0 15px;
        right: 0;
        z-index: 20;
        transition: left 300ms;
    }
    &.open .component_head{
        left: 200px;
    }
    &.close .component_head{
        left: 64px !important;
    }
    .head_content {
        display: flex;
        align-items: center;
    }
}

/* 搜索区域 */
body {
    .search_content {
        margin-bottom: 10px;
    }
    .flex-wrap {
        flex-wrap: wrap;
    }
    .flex-nowrap {
        flex-wrap: nowrap;
    }
    .flex-center-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flex-center-around {
        display: flex;
        justify-content: center;
        align-content: space-around;
    }
    .flex-center-between {
        display: flex;
        justify-content: center;
        align-content: space-between;
    }
    .flex-start-center {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .flex-end-center {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .flex-around-center {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .flex-between-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .flex-between-start {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .flex-between-end {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .flex-start-start {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .text-center {
        text-align: center;
    }
    .flex-right {
        display: flex !important;
        flex-grow: 1;
        justify-content: flex-end;
    }
    .right_6 {
        margin-right: 6px;
    }
    .left_6 {
        margin-left: 6px;
    }
    .top_10 {
        margin-top: 10px;
    }
    .top_15 {
        margin-top: 15px;
    }
    .top_20 {
        margin-top: 20px;
    }
    .bottom_10 {
        margin-bottom: 10px;
    }
    .bottom_15 {
        margin-bottom: 15px;
    }
    .bottom_20 {
        margin-bottom: 20px;
    }
    .page_title {
        font-size: 15px;
        color: #394263;
        font-weight: bold;
    }
    .text-center {
        text-align: center;
    }
    .cur_pointer{
        cursor: pointer;
    }
    .text_center {
        text-align: center;
    }
    .font_12 {
        font-size: 12px;
    }
    .font_14 {
        font-size: 14px;
    }
    .font_16 {
        font-size: 16px;
    }
    .font_18 {
        font-size: 18px;
    }
    .inline {
        display: inline;
    }
    .block {
        display: block;
    }
    .color_1 {
        color: #394263;
    }

}




