
.cloud-component.crfConfig {
  height: 94.5%;
  position: relative;
}

.crfConfig .crf-left-menu {
  float: left;
  width: 279px;
  height: 100%;
  overflow: hidden;
}

.crf-main {
  overflow: hidden;
  border: 1px solid #e9eaec;
  position: absolute;
  /*left: 298px;*/
  /*right: 305px;*/

}
.patient_form_container{
  padding: 5px;
  box-sizing: border-box;
}
.crf-main .nodata {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.el-dialog__wrapper .crf-main {
  height: calc(100% - 80px);
  width: calc(100% - 300px);
  left: 20px;
}

.el-dialog__wrapper .crf-main-nav {
  width: 290px;
  height: 100%;
  overflow: auto;
  float: right;
  padding-left: 10px;
}

#jqContextMenu > ul, #jqContextMenu {
  width: auto !important;
}

#jqContextMenu > ul > li {
  padding: 5px;
}

.crfConfig .crf-main .crf-step-content {
  overflow: auto;
  height: calc(100% - 30px);
  /*background-color: #f7f8fc;*/
  background-color: #FCFCFC;
}

.crfConfig .menu-panel .el-collapse-item__arrow {
  font-size: 13px;
  float: none;
  line-height: normal
}

.parent-node label {
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-panel .parent-node.active .el-collapse-item__arrow:before {
  content: "\e603" !important;
}

.menu-panel .menu-panel-head {
  height: 48px;
  line-height: 48px;
  border: 1px solid #e9eaec;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  color: #585858;
  background-color: #eeeeee;
  padding-left: 9px;
}

.menu-panel {
  padding: 0 5px;
  font-size: 15px;
  height: 100%;
}

.el-dialog__body .menu-panel {
  height: 100%
}

.el-dialog__body .menu-panel .menu-panel-content {
  height: calc(100% - 48px)
}

.menu-panel + .menu-panel .menu-panel-head {
  border-top-color: transparent;
}

.menu-panel .el-icon-plus {
  font-weight: bold;
  position: absolute;
  right: 5px;
  top: 30%;
}

.menu-panel .parent-node label {
  display: block
}

.menu-panel .parent-node {
  position: relative;
  padding: 5px 5px 5px 9px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.menu-panel .parent-node .fa {
  margin: 0 5px;
}

.menu-panel .parent-node .add-icon {
  position: absolute;
  right: 5px;
  top: 30%;
}

.menu-panel ul {
  margin-bottom: 5px;
}

.menu-panel ul .child-node {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0 15px;
  border-left: 5px solid transparent;
  cursor: pointer;
  vertical-align: middle;
  font-size: 14px;
  line-height: 40px
}

.menu-panel ul .child-node .readonly-icon {
  background: #f8cd47;
  color: #fff;
  display: inline-block;
  border-radius: 3px;
  padding: 1px 5px;
  font-size: 12px;
  margin-right: 5px;
  line-height: 27px;
  height: 27px;
  margin-top: 6px;
  vertical-align: middle;
}

.menu-panel ul .child-node .menu-node-name {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 40px
}

.menu-panel ul .child-node .el-icon-delete, .menu-panel ul .child-node .el-icon-edit {
  line-height: 40px
}

.menu-panel ul .child-node .el-icon-edit {
  margin-right: 8px
}

.menu-panel ul .child-node .edit-icon, .menu-panel ul .child-node .remove-icon {
  margin: 3px 5px;
}

.menu-panel .menu-panel-content {
  position: relative;
  overflow-y: auto;
  border: 1px solid #e9eaec;
  border-top: none;
  font-size: 14px;
}

.crf-section .el-form-item {
  display: inline-block;
  margin-left: 25px;
  width: calc(50% - 30px);
  vertical-align: top;
}

.crf-section .colwidth-2 {
  display: block;
  width: calc(50% - 45px);
}

.crfConfigPreiview .crf-section .colwidth-2 {
  display: block;
  width: calc(50% - 30px);
}

body .crf-main .el-form .crf-section .colwidth-2 .el-form-item__content .el-input {
  width: calc(200% + 125px) !important
}

body .crf-main .el-form .crf-section .colwidth-2 .el-form-item__content .el-textarea {
  width: calc(200% + 125px) !important
}

.crf-section .colwidth-22 .el-form-item .el-input {
  width: 30% !important
}

.crf-main .crf-step-content {
  /*padding: 0 10px 10px;*/
}

.crf-main .crf-step-header {
  border-bottom: 1px solid #e9eaec;
  padding: 11.5px;
}

.crf-step .crf-section-title {
  background: #eeeeee;
  border: 1px solid #e9eaec;
  position: relative;
}

.crf-step-h3 {
  font-size: 14px;
  margin: 20px 0 0;
  display: inline-block;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.crfConfig .crf-main .el-form .el-form-item .el-input {
  width: 100% !important;
}

.crf-config-button {
  position: absolute;
  height: 50px;
  bottom: 10px;
  left: 298px;
  right: 305px;
  text-align: right;
  border: 1px solid #e9eaec;
  padding: 10px 15px 0 0;
  background: #fff;
  z-index: 100
}

.crf-step .crf-section-title .module-close {
  position: absolute;
  right: 5px;
  display: block;
  top: 0;
  width: 20px;
  line-height: 39px;
}

.crf-step .module-close:hover {
  color: #ff0000;
}

.crf-main-content {
  height: 95%;
}

.ztree .tree-no-data {
  padding: 20px 0;
  text-align: center
}

.crf-main .ui-sortable-placeholder {
  border: 1px solid #fcefa1;
  background: #fbf9ee;
  height: 36px;
}

.contextMenu {
  display: none
}

#jqContextMenu, #jqContextMenu ul {
}

#jqContextMenu .el-input-number--mini {
  width: 90px;
}

.crf-main .el-form-item__label {
  word-wrap: break-word
}

.crfConfig.crffill {
  overflow: hidden;
}

.crffill .crf-main {
  /*left: 10px;*/
  /*width: calc(100% - 20px);*/
  width: 100%;
  /*height: 100%;*/
  background-color: #f7f8fc;
  /*top: 10px;*/
  top: -6px;
}

.crffill .crf-section-name {
  line-height: 40px;
  width: calc(100% - 60px);
  display: inline-block;
}

.menu-panel .el-table__body-wrapper {
  overflow-x: auto !important;;
}

.crffill .nodata {
  padding: 15px 0;
  text-align: center;
  font-size: 12px
}

.crffill .refmodule-name {
  display: inline-block;
  width: calc(100% - 60px);
}

.crffill .crf-main .crf-step-content {
  height: calc(100% - 45px);
  /* margin-top: 56px; */
}

.crffill .crf-main-content {
  height: calc(100% - 40px)
}

.crffill .menu-panel .parent-node {
  padding: 0;
}

.crffill .menu-panel .el-collapse-item__arrow {
  line-height: 28px;
  padding-left: 10px
}

.crffill .menu-panel .ii {
  display: inline-block;
}

.crffill .menu-panel .ii .el-icon-arrow-right:before {
  content: "\E604" !important
}

.crffill .menu-panel .ii.active .el-icon-arrow-right:before {
  content: "\E603" !important
}

.crffill .menu-panel .menu-panel-content {
  height: calc(100% - 48px)
}

.el-dialog__wrapper .crf-main
.crffill .menu-panel {
  height: 100%;
}

body .crfConfig .crf-right-menu .el-input.input-search {
  width: 255px;
  margin: 10px;
}

body .crfConfig .crf-left-menu .el-input.input-search {
  width: 240px;
  margin: 10px;
}

.toggle-slide {
  position: absolute;
  right: 9px;
  color: #8f8f8f;
  cursor: pointer;
}

.menu-panel-head.active .toggle-slide {
  display: none;
}

.crffill .crf-right-menu {
  float: right !important;
  width: 480px
}

.crf-step-header {
  font-size: 16px;
}

.crf-step-header .el-select {
  margin: 0 10px;
}

.crf-section-box .crf-section-title .el-icon-arrow-right {
  float: none;
  line-height: normal;
  padding: 12px 5px 12px 15px;
  cursor: pointer;
}

.crf-section-box .crf-section-title .el-icon-arrow-right.active:before {
  content: "\e603";
}

.crf-section-box .crf-section {
  background: #fff;
  margin-top: 10px
}

.crf-section-box .crf-section .crf-section-content {
  border: 1px solid #e9eaec;
  border-top: none;
  padding: 20px 30px 0 0;
}

.crf-section-box .crf-section .el-form-item__label {
  line-height: 19px;
}

.crf-section-box .crf-section .el-form-item__label i {
  margin-left: 4px
}

.crf-step-header .el-input--suffix .el-input__inner {
  max-width: 100px
}

.crf-step-header .el-select {
  margin-left: 50px
}

.crfConfig .el-dialog .el-form .el-form-item .el-input {
  width: 80%
}

.crfConfig .is-fullscreen .el-dialog__body {
  height: calc(100% - 150px) !important;
  overflow: hidden;
}

.crf-left-btn {
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 20px;
  height: 18px;
  z-index: 1004;
  cursor: pointer;
  outline: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  /*background: url('./images/icon_arrow.png') no-repeat -1px 0;*/
}

.saveButton {
  border-top: 1px solid #e9eaec;
  text-align: right;
  padding-right: 30px;
  padding-top: 5px;
}

body.theme-green .crf-left-btn.onclick {
  /*background-image: url('./images/icon_arrow2_green.png');*/
}

body.theme-blue .crf-left-btn.onclick {
  /*background-image: url('./images/icon_arrow2_blue.png');*/
}

.search-void {
  text-align: center;
  font-size: 12px;
  margin-top: 25px;
}

.crfConfig .new-name {
  max-width: 180px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: 5px;
  line-height: 16px;
}

.crfConfig .dynamicStepDialog .el-dialog__body {
  max-height: 600px;
  overflow: auto;
}

/**
  * 阅读模式下样式
  */
/*统一修改 空 的颜色*/
.read_container-mode .grayColor {
  color: #A2A2A2;
}
.read_container-mode .info_fixed .info_tip_box {
  position: absolute;
  top: 0;
  left: 60px;
  transform: translate(0, -40%);
  background-color: #fff;
  border-radius: 6px;
  font-size: 14px;
  z-index: 1;
  display: none;
}

.read_container-mode .info_fixed  .active_annotate {
  color: #F99F00 !important;
}
.read_container-mode .info_fixed .active_modifyInfo{
  /*color: #439AFF !important;*/
  /*color: #979BAB !important;*/
  transform: rotateX(180deg);
}
.read_container-mode  .remove_annotate{
  display: table-cell;
  font-size: 14px;
  color: #00BAE6;
  text-decoration: none;
  cursor: pointer;
  padding-left: 8px;
  font-style: normal;
}
.read_container-mode  .remove_annotate:hover{
  text-decoration: underline;
}
.read_container-mode .info_fixed:hover .info_tip_box {
  display: inline-block;
}
.read_container-mode .info_fixed .info_tip_box .tip_content {
  width: 421px;
  min-height: 60px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:1px solid rgba(229,235,236,1);
  box-shadow:2px 2px 10px rgba(235,235,235,0.89);
  color: #333333;
  transition: all linear 1s;
}
.read_container-mode .info_fixed .info_tip_box .tip_content p span.ml_7{
  display: inline-block;
  padding-top: 5px;
}
.read_container-mode .info_fixed .info_tip_box .tip_content p span {
  word-break: break-all;
  line-height: 1.2rem;
}
.read_container-mode .info_fixed .info_tip_box > i{
  display: inline-block;
  border: 10px solid;
  border-color: transparent rgba(229,235,236,1) transparent transparent;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translate(0, -40%);
}

.read_container-mode .info_fixed .info_tip_box > i:after{
  content: '';
  display:block;
  width:0;
  height:0;
  border-width: 10px;
  border-style:solid;
  border-color:transparent #fff transparent transparent;
  position:absolute;
  top:-10px;
  left:-9px;
}
/*数值类型*/
.read_container-mode .FILE_UPLOAD_Image_box /deep/ .el-upload--picture-card{
  display: none ;
}
.read_container-mode .NUMBER_INPUT {
  min-height: 32px;
}
.read_container-mode .NUMBER_INPUT_box {
  font-size: 14px;
}
.read_container-mode .NUMBER_INPUT .NUMBER_INPUT_box .NUMBER_INPUT_box_unitName{
  font-size: 14px;
}
.read_container-mode .NUMBER_INPUT .NUMBER_INPUT_box  .addColor{
  color: #00BAE6;
}
.read_container-mode .NUMBER_INPUT .NUMBER_INPUT_box .NUMBER_INPUT_box_select,.read_container-mode .NUMBER_INPUT .NUMBER_INPUT_box .NUMBER_INPUT_box_number{
  width: auto;
}
.read_container-mode .NUMBER_INPUT .NUMBER_INPUT_box .iconfont {
  display: table-cell;
  font-size: 16px;
  color:#979BAB;
  padding-left: 25px;
  cursor: pointer;
}
/*多选框*/
.read_container-mode .CHECKBOX_box {
  min-height: 32px;
  font-size: 14px;
}
.read_container-mode .CHECKBOX .addColor {
  color: #00BAE6;
}
.read_container-mode .CHECKBOX .CHECKBOX_box {
  min-width: auto;
}
.read_container-mode .CHECKBOX .iconfont {
  display: table-cell;
  font-size: 16px;
  color:#979BAB;
  padding-left: 25px;
  cursor: pointer;
}
/*单选下拉*/
.read_container-mode .SINGLE_COMBOX {
  font-size: 14px;
  min-height: 32px;
}
.read_container-mode .SINGLE_COMBOX .addColor {
  color: #00BAE6;
}
.read_container-mode .SINGLE_COMBOX .SINGLE_COMBOX_box{
  width: auto;
}
.read_container-mode .SINGLE_COMBOX .iconfont {
  display: table-cell;
  font-size: 16px;
  color: #979BAB;
  padding-left: 25px;
  cursor: pointer;
}
/*单选框*/
.read_container-mode .RADIO_BUTTON {
  font-size: 14px;
  min-height: 32px;
}
.read_container-mode .RADIO_BUTTON .addColor{
  color: #00BAE6;
}
.read_container-mode .el-radio__input.is-checked+.el-radio__label {
  color: #00BAE6;
}
.read_container-mode .el-radio__input.is-checked .el-radio__inner{
  border-color: #00BAE6;
  background: #00BAE6;
}
.read_container-mode .empty {
  color: #00BAE6 !important;
}
.read_container-mode .RADIO_BUTTON .RADIO_BUTTON_box {
  min-width: auto;
}
.read_container-mode .RADIO_BUTTON .iconfont {
  display: table-cell;
  font-size: 16px;
  color: #979BAB;
  padding-left: 25px;
  cursor: pointer;
}


/*多行文本*/
.read_container-mode .MULTI_INPUT {
  font-size: 14px;
  min-height: 32px;
}
.read_container-mode .MULTI_INPUT .MULTI_INPUT_box{
  /*font-size: 14px;*/
  min-height: 32px;
}
.read_container-mode .MULTI_INPUT .addColor{
  color: #00BAE6;
}
.read_container-mode .MULTI_INPUT .iconfont {
  display: table-cell;
  font-size: 16px;
  color:#979BAB;
  padding-left: 25px;
  cursor: pointer;
}
/*输入框*/
.read_container-mode .SINGLE_INPUT {
  font-size: 14px;
  min-height: 32px;
}
.read_container-mode .SINGLE_INPUT .addColor {
  color: #00BAE6;
}
.read_container-mode .SINGLE_INPUT .iconfont {
  display: table-cell;
  font-size: 16px;
  color:#979BAB;
  padding-left: 25px;
  cursor: pointer;
}
/*级联控件*/
.read_container-mode .CASCADE {
  font-size: 14px;
  min-height: 32px;
}
.read_container-mode .CASCADE .addColor {
  color: #00BAE6;
}
/*评分控件*/
.read_container-mode .SCORE_box {
  font-size: 14px;
  min-height: 32px;
}
.read_container-mode .SCORE_box  .addColor {
  color: #00BAE6;
}
.read_container-mode .SCORE_box .el-button--primary {
  background-color: #00BAE6;
}
.read_container-mode .SCORE_box .el-button--primary:hover {
  background-color: #00BAE6;
}
.read-mode .el-radio  .el-radio__input.is-checked .el-radio__inner {
  border-color: #00BAE6;
  background: #00BAE6;
}
.read-mode .el-radio__input.is-disabled.is-checked .el-radio__inner::after{
  background-color: #F5F7FA;
}
/*.read-mode .el-radio__input.is-disabled .el-radio__inner, .el-radio__input.is-disabled.is-checked .el-radio__inner{
  background-color: #F5F7FA !important;
  border-color: #E4E7ED !important;
}*/
.read-mode .el-radio__input.is-checked+.el-radio__label{
  color: #00BAE6;
}
  /*日期*/
.read_container-mode .DATE {
  font-size: 14px;
  min-height: 32px;
}
.read_container-mode .DATE .DATE_box{
  width: auto;
}
.read_container-mode .DATE .addColor {
  color: #00BAE6;
}
.read_container-mode .DATE .iconfont {
  display: table-cell;
  font-size: 16px;
  color:#979BAB;
  padding-left: 25px;
  cursor: pointer;
}
/*日期时间*/
.read_container-mode .DATE_TIME {
  font-size: 14px;
  min-height: 32px;
}
.read_container-mode .DATE_TIME .DATE_TIME_box {
  width: auto;
}
.read_container-mode .DATE_TIME .addColor {
  color: #00BAE6;
}
.read_container-mode .DATE_TIME .iconfont {
  display: table-cell;
  font-size: 16px;
  color:#979BAB;
  padding-left: 25px;
  cursor: pointer;
}
/*多选下拉*/
.read_container-mode .MULTI_COMBOX {
  font-size: 14px;
  min-height: 32px;
}
.read_container-mode .MULTI_COMBOX .MULTI_COMBOX_box {
  width: auto;
}
.read_container-mode .MULTI_COMBOX .addColor {
  color: #00BAE6;
}
.read_container-mode .MULTI_COMBOX .iconfont {
  display: table-cell;
  font-size: 16px;
  color:#979BAB;
  padding-left: 25px;
  cursor: pointer;
}
/* 评分 */
.read_container-mode .SCORE .iconfont{
  display: table-cell;
  font-size: 16px;
  color:#979BAB;
  padding-left: 25px;
  cursor: pointer;
}
/** 级联控件 */
.read_container-mode .CASCADE .iconfont{
  display: table-cell;
  font-size: 16px;
  color: #979BAB;
  padding-left: 25px;
  cursor:pointer;
}
/***表格**/
.read_container-mode .view_container_tlr .info_fixed{
  opacity: 0;
}
.read_container-mode .view_table-title .iconzu13{
  font-size: 16px;
  color:#979BAB !important;
  padding-left: 25px;
  cursor: pointer;
}
.read_container-mode .view_table-title .active_annotate {
  color: #F99F00 !important;
}
.read_container-mode .view_table-title .remove_annotate{
  display: inline-block;
}
.read_container-mode .view_table-title .active_modifyInfo {
  color: #439AFF !important;
}
.read_container-mode .table_knowType .is_knowType {
  font-style: normal;
  font-size: 14px;
  color: #A2A2A2;
}
.read_container-mode .table_knowType .iconfont{
  font-size: 16px;
  color: #A2A2A2;
  cursor: pointer;
}
.read_container-mode .table_knowType .remove_annotate {
  display: inline-block;
}


/** 集合 **/
.read_container-mode .gather_knowType .is_knowType {
  font-style: normal;
  font-size: 14px;
  color: #A2A2A2;
}
.read_container-mode .gather_knowType .iconfont{
  font-size: 16px;
  color: #A2A2A2;
  cursor: pointer;
}
.read_container-mode .gather_knowType .remove_annotate {
  display: inline-block;
}

/**备注弹框样式**/
.patient_form_container .annotate_dialog-box .el-dialog .el-dialog__footer{
  position: static
}
.patient_form_container .annotate_dialog-box .el-dialog .el-dialog__body {
  padding: 25px 25px 30px;
}

/**批注弹框样式**/
.read_container-mode .annotate_dialog-box.el-dialog .el-dialog__footer{
  position: static
}
.read_container-mode .annotate_dialog-box .el-dialog .el-dialog__body {
  padding: 25px 25px 30px;
}
/***级联控件**/
.read_container-mode .CASCADE_box {
  color: #979BAB;
}
/***文件上传--图片类型*/
.read_container-mode .FILE_UPLOAD .info_fixed {
  font-size: 16px;
  color: #979BAB;
  padding-left: 25px;
  cursor: pointer;
}
.read_container-mode .FILE_UPLOAD .info_fixed .active_annotate{
  color: #F99F00;
}
.read_container-mode .FILE_UPLOAD .info_fixed .active_modifyInfo{
  font-size: 16px;
  color: #979BAB;
  padding-left: 25px;
  cursor: pointer;
}
.read_container-mode .FILE_UPLOAD .FILE_UPLOAD_Image_box  {
  vertical-align: middle !important;
}
.read_container-mode .FILE_UPLOAD .FILE_UPLOAD_Image_box span{
  color: #979BAB;
}
/***文件上传--文件类型*/
.read_container-mode .FILE_UPLOAD .FILE_UPLOAD_file_box .el-upload{
  display: none;
}
.read_container-mode .FILE_UPLOAD .FILE_UPLOAD_file_box {
  width: auto !important;
  color: #979BAB;
}
.read_container-mode .FILE_UPLOAD .el-upload-list__item:first-child {
  margin-top: 0;
}
.content-item_info img{
  cursor: pointer;
}

